<footer class="footer">
	<div class="container">
		<p>&copy; 2017 Гровенда-сервис. Все права защищены</p>
		<a href="">Digital studio IT Tech. Group</a>
	</div>
</footer>

<div class="to-top icon-top"></div>

<div class="form-alert">
	<form action="../contact.php" class="form" name="order" id="form-win">
		<p class="form__txt">
			Стань счастливым владельцем Necta <span>прямо сейчас</span> и получи скидку 5%
		</p>
		<p class="error">Пожалуйста, заполните все поля.</p>
		<div class="input-field">
			<input type="text" class="input" name="name" id="name">
			<label for="name">Ваше имя</label>
		</div>
		<div class="input-field">
			<input type="tel" class="input" name="tel" id="tel">
			<label for="tel">Ваш телефон</label>
		</div>
		<div class="input-field">
			<textarea class="input" name="message" id="mesage"></textarea>
			<label for="message">Модель или пожелание</label>
		</div>
		<input type="submit" class="btn form__btn" value="Заказать">
	</form>
</div>

<div class="msg"></div>
